@media screen and (max-width:425px) {    
    .nav-container,.nav-items, .gamers-container{
        padding: 30px 0;
        flex-direction: column;
        gap: 30px;
        box-shadow: none;
    }
    .nav-items{
        width: 100%;
    }
    .banner {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 30px;
        background-image: none;
        padding: 20px 10px;
    }
    .banner-right img, .banner-left {
        max-width: 100%; /* to limit the image width */
        height: auto; /* to maintain the aspect ratio */
    }
    .banner-left{
                padding: 20px;
        background-image: url("./images/Group 14.png"), 
    linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    background-size: contain; 
    background-position:left;
    background-repeat: no-repeat; 
    }
    .gamers-container{
        text-align: center;
    }
    

    
    
}


@media screen and (min-width:426px) and (max-width:768px) {
    .nav-container{
        padding: 20px;
        /* width: 100%;
        flex-direction: column;
        gap: 30px; */
    }
    .nav-items{
        width: 100%;
    }
    .banner {
        flex-direction: column-reverse;
        gap: 30px;
        background-image: none;
        padding: 20px 10px;
    }
    .banner-right img {
        max-width: 100%; /* to limit the image width */
        height: auto;
         /* to maintain the aspect ratio */
    }
    .banner-left{
        width: 100%;
        margin: 0 auto;
       padding: 40px 50px;
        background-image: url("./images/Group 14.png"), 
    linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    background-size: contain; 
    background-position:left;
    background-repeat: no-repeat; 
    }
}