* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* .nav-section {
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
} */

.nav-container {
    max-width: 1400px;
    margin: 20px auto;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo-container {
    width: 50%;
    display: flex;
    align-items: center;
}

.logo-container img {
    margin-right: 10px;
    width: 90px;
    /* object-fit: cover; */
}

.logo-container p {
    width: 150px;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
}

.colored-letter {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-items {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #3C354F;
    /* text-align: center; */

}

.follow-btn {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    color: #3C354F;
    /* text-align: center; */
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    padding: 10px 5px;
}

.follow-icons {
    margin: 5px;
}

/* BANNER PART HERE */
.banner {
    margin: 20px auto 0;
    display: flex;
    gap: 70px;
    align-items: center;
    /* text-align: center; */

    justify-content: space-evenly;
    background-image: url("./images/Group 14.png"),
        linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;

}


.banner-left h2 {

    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;

}


.banner-left h1 {
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;


}

.colored-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.banner-left p {
    color: #534C64;
    font-weight: 500;
}

.btn {
    margin: 15px 0;
    border: none;
    border-radius: 40px;
    color: #FFF;
    padding: 10px 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.pink {
    background-color: #FF42A5;
}

.blue {
    background-color: #4EC5F7;
}

.gamers-section {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.04) 0%, rgba(255, 66, 165, 0.06) 100%);
    min-height: 500px;
    padding: 20px 0;
}

.gamers-container {
    max-width: 1400px;
    margin: 0 auto;
    min-height: 200px;
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: center;
    /* gap: 30px; */
}

.gamers-title {
    font-size: 2.8rem;
    font-weight: 700;
}

.gamers-description {
    color: #534C64;
    margin-top: 15px;
    margin-bottom: 15px;
}

.gamers-container span {
    color: #534C64;
    font-weight: 700;
}

.banner-left img,
.gamers-container img {
    max-width: 70%;
    /* to limit the image width */
    height: auto;
    /* to maintain the aspect ratio */
    display: block;
    margin: 0 auto;
}

/* videos-grid-section for bonus part starts here */
.videos-grid-section {
    margin-top: 50px;
    text-align: center;
}
.grid-description{
    margin: 5px 0 15px;
}

.grid-box img {
    width: 100%;
    transition: opacity 0.3s;

}

.grid-box {

    margin: 0 auto;
    /* padding: 15px 15px; */
    width: 300px;
    min-height: 400px;
    border-radius: 5px;
    background: #FFF;
    /* box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15); */

}

.grid-box .image-overlay-container {

    position: relative;
    overflow: hidden;

}

.image-overlay-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%;
    height: 100%; */
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    /* Adjust the alpha value to control darkness */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    /* Start with opacity 0 for the fade-in effect */
    transition: opacity 0.4s ease-in;
    cursor: pointer;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.image-overlay-container:hover .overlay {
    opacity: .8;
    /* Fade in the overlay on hover */
    border-radius: 5px;
    border: 5px solid #FF42A5;
    font-size: 1.25rem;
    font-weight: 600;
    color: #FF42A5;
}

.grid-container {
    max-width: 1400px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    text-align: left;
}

.grid-container p {
    margin-top: 10px;
    color: #534C64;
    font-weight: 500;
}

.online-section {
    margin-top: 100px;
}

.online-pic-container {
    max-width: 1400px;
    margin: 0 auto;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /* Required for positioning the smaller image absolute,parent div needs to be relative*/
}

.double-pic-container {
    position: relative;
    /* Required for positioning the smaller image relative to this container */
}

.larger-img {
    width: 500px;
    /* Set the width of the larger image */
    height: auto;
    /* Adjust the height accordingly */
}

.smaller-img {
    position: absolute;
    top: 50%;
    left: 80%;
    width: 250px;
    /* to set the width of the smaller image */
    height: auto;
    /* to adjust the height accordingly */
}

.online-description {
    color: #534C64;
    font-weight: 500;
    margin: 10px 0;
}

/* CATEGORY SECTION */
.category-section {
    margin: 100px auto;
}

.categories {
    max-width: 1400px;
    margin: 30px auto;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.single-category img {
    width: 60px;
    height: 60px;
    padding: 4px;
}

.single-category {
    flex-basis: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #FFF;
    font-weight: 600;
    border-radius: 50px;
    border: none;

}

.single-category:hover {
    border: 1px solid #F948B2;
    color: #F948B2;
}









footer {
    min-height: 200px;
    padding: 20px 0;
    margin: auto;
    background: #0A0826;
    text-align: center;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.60);

}

footer div {
    width: 70%;
    margin: 0 auto;
}
.footer-logo{
    color: white;
    font-size: 1.25rem;
}

.footer-logo img {
    width: 60px;
    height: 30px;

}

footer a {
    color: rgb(212, 211, 211);
}

.footer-logo,
.icons,
.settings-container,
.pages-container {

    margin: 20px auto;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}